Name: POSTGRES_URL
Value: postgres://postgres.zrjyrfmmdjlqjotbzasj:xLKhtKECnpwrtTdz@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x

Name: NEXTAUTH_SECRET
Value: HqE0XdGVTWhHl6eOzsFNyt7qct5MnbifbzxK6AvuBiCFkjf1fSEK+LOLZ/4HMEsmKXsayk36Mz4LgGLf+c30Sw==

Name: AUTH_TRUST_HOST
Value: true
XAI_API_KEY="xai-eKgAN3fa2haXS2PKCltawVnzyPmtJXsCmAUqkSvsdqqsQzBlfKkOi75IjipomgBSu76LjKlsZL6BYy4c"
Name: DEPLOY_ENV
Value: vercel
