POSTGRES_URL=postgres://postgres.zrjyrfmmdjlqjotbzasj:xLKhtKECnpwrtTdz@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x

OPENAI_API_KEY=your-openai-key

NEXTAUTH_SECRET=any-random-string-32-chars

AUTH_TRUST_HOST=true

DEPLOY_ENV=vercel
